mkdocs
mkdocs-material
mkdocs-dracula-theme
pymdown-extensions
markdown
pygments
obs2mk
python-frontmatter
pyyaml
pathlib
urllib3
mkdocs-mermaid2-plugin
mkdocs-callouts
mkdocs-roamlinks-plugin
pillow
mkdocs-awesome-pages-plugin
mkdocs-exclude
mkdocs-git-revision-date-localized-plugin
mkdocs-minify-plugin
mkdocs-publisher
mkdocs-material-extensions
